force-app/main/default/flows/CustomSearchFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AccNotNull</name>
        <label>AccNotNull</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>HaveAccChekbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccNull</name>
        <label>AccNull</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>HaveAccChekbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGMENT</name>
        <label>ASSIGMENT</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListAccountName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListAccNAmeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOwnerFullNameAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListOwnerAccFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentListLead</name>
        <label>AssigmentListLead</label>
        <locationX>270</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>LeadCompanyNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddCompanyNameToLeadList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOwnerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddOwnerLeadToList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSearchStringVariable</name>
        <label>AssigmentSearchStringVariable</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SearchStringVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank</name>
        <label>Blank</label>
        <locationX>182</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>GetAccount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListAccountName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOwnerFullNameAccount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOwnerList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCompanyNameList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchStringVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchString2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HaveLeadAssigment</name>
        <label>HaveLead</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>HaveLeadChekbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X123</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HaventLead</name>
        <label>HaventLead</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>HaveLeadChekbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X123</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HaveAcc</name>
        <label>HaveAcc?</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>AccNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccNotNull</targetReference>
            </connector>
            <label>Have</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveLead</name>
        <label>Have Lead?</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>HaventLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHaveLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaveLeadAssigment</targetReference>
            </connector>
            <label>YesHaveLead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddCompanyNameToLeadList</name>
        <dataType>String</dataType>
        <expression>{!LoopLead.Company} + BR()</expression>
    </formulas>
    <formulas>
        <name>AddOwnerLeadToList</name>
        <dataType>String</dataType>
        <expression>{!LoopLead.OwnerFullName__c} +BR()</expression>
    </formulas>
    <formulas>
        <name>AddStringtosearchAcc</name>
        <dataType>String</dataType>
        <expression>{!loopAcc.Name} + &quot; &quot; + {!loopAcc.OwnerFullName__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>ListAccNAmeFormula</name>
        <dataType>String</dataType>
        <expression>{!loopAcc.Name} + BR()</expression>
    </formulas>
    <formulas>
        <name>ListOwnerAccFormula</name>
        <dataType>String</dataType>
        <expression>{!loopAcc.OwnerFullName__c} + BR()</expression>
    </formulas>
    <interviewLabel>Custom Search Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Search Flow</label>
    <loops>
        <name>loopAcc</name>
        <label>loopAcc</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>GetAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGMENT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveAcc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopLead</name>
        <label>LoopLead</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <collectionReference>GetLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigmentListLead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAcc</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchStringVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchStringVariable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerFullName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLead</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Company</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchStringVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchStringVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchStringVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchStringVariable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>OwnerFullName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Input_Search_Screen</name>
        <label>Input Search Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssigmentSearchStringVariable</targetReference>
        </connector>
        <fields>
            <name>SearchString</name>
            <dataType>String</dataType>
            <fieldText>Put here string to find</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X123</name>
        <label>123</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Blank</targetReference>
        </connector>
        <fields>
            <name>AccListScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;List of Accounts:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X123_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>X123_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ListAccNameScreen</name>
                    <fieldText>&lt;p&gt;{!ListAccountName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>X123_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OwnerFullName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Owner full name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ListOwnerFullNameScreen</name>
                    <fieldText>&lt;p&gt;{!ListOwnerFullNameAccount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HaveAccChekbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccNotFound</name>
            <fieldText>&lt;p&gt;Accounts not found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HaveAccChekbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ListOfLEadsScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;List of Leads:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X123_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>X123_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadCompanyNameScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Company name:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LeadScreenCompName</name>
                    <fieldText>&lt;p&gt;{!LeadCompanyNameList}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>X123_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OwnerFullNameLeadScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Owner full name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LeadsOwnerListScreen</name>
                    <fieldText>&lt;p&gt;{!LeadOwnerList}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HaveLeadChekbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LeadsNotFound</name>
            <fieldText>&lt;p&gt;Leads not found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HaveLeadChekbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SearchString2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SearchStringVariable</elementReference>
            </defaultValue>
            <fieldText>Put here string to find</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Search_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccToScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HaveAccChekbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HaveLeadChekbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCompanyNameList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOwnerFullNameAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchStringVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
