force-app/main/default/flows/LeadAfterCreateTriggerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>3035</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddEmailtoList</name>
        <label>Add Email to List</label>
        <locationX>264</locationX>
        <locationY>2819</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollectUserEmails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectUserEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUserIdtoList</name>
        <label>Add User Id to List</label>
        <locationX>264</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollectUserIds.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectUserIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewOwner</name>
        <label>Assign New Owner</label>
        <locationX>264</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnersLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRoleIdToCollection</name>
        <label>Assign Role Id To Collection</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>BDMRoleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverRoles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountUsers</name>
        <label>Count Users</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>NumberOfUsers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetBDMUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OwnersLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncCounter</name>
        <label>Inc Counter</label>
        <locationX>528</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>CurrentOwnerNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OwnersLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssignToCurrentDecision</name>
        <label>Assign To Current ?</label>
        <locationX>396</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>IncCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAssigntoCurrent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOwnerNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetLastOwner.OwnerNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResetedLastOwner</name>
        <dataType>Number</dataType>
        <expression>IF(
{!CurrentOwnerNumber} = {!NumberOfUsers},
0,
{!CurrentOwnerNumber}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead After Create Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Create Trigger Flow</label>
    <loops>
        <name>CollectUserEmails</name>
        <label>Collect User Emails</label>
        <locationX>176</locationX>
        <locationY>2699</locationY>
        <collectionReference>GetUsersEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddEmailtoList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CollectUserIds</name>
        <label>Collect User Ids</label>
        <locationX>176</locationX>
        <locationY>2243</locationY>
        <collectionReference>GetLeadQueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddUserIdtoList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetUsersEmails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverRoles</name>
        <label>LoopOverRoles</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetBDMRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRoleIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetLastOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OwnersLoop</name>
        <label>OwnersLoop</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <collectionReference>GetBDMUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToCurrentDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBDMRoles</name>
        <label>Get BDM Roles</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BDM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBDMUsers</name>
        <label>Get BDM Users</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>BDMRoleList</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLastOwner</name>
        <label>Get Last Owner</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBDMUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Google Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadAssignLastOwner__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerNumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeadQueue</name>
        <label>Get Lead Queue</label>
        <locationX>176</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLeadQueueMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeadQueueMembers</name>
        <label>Get Lead Queue Members</label>
        <locationX>176</locationX>
        <locationY>2123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectUserIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeadQueue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersEmails</name>
        <label>Get Users Emails</label>
        <locationX>176</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectUserEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AssignLead</name>
        <label>Assign Lead</label>
        <locationX>176</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>UpdateSettingCounter</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSettingCounter</name>
        <label>Update Setting Counter</label>
        <locationX>176</locationX>
        <locationY>1883</locationY>
        <connector>
            <targetReference>GetLeadQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Google Lead</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerNumber__c</field>
            <value>
                <elementReference>ResetedLastOwner</elementReference>
            </value>
        </inputAssignments>
        <object>LeadAssignLastOwner__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBDMRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing: google</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*** NEW LEAD ASSIGNMENT NOTIFICATION ***
The following lead has been filled Google form and assigned to Queue.
Lead Name: {!$Record.Name}
Click to access the lead directly
{!$Record.RecordLink__c}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New lead assigned to Queue</text>
    </textTemplates>
    <variables>
        <name>BDMRoleList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOwnerNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfUsers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
