force-app/main/core/flows/LeadAfterConvertFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddContactRoletoCollection</name>
        <label>Add Contact Role to Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>OppContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currOppContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToAccount</name>
        <label>Assign To Account</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>LoopOverContacts.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currOppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currOppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currOppContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactRoletoCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Lead After Convert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Convert Flow</label>
    <loops>
        <name>LoopOverContacts</name>
        <label>Loop Over Contacts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContactRoles</name>
        <label>Create Contact Roles</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>OppContactRoles</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRelatedContacts</name>
        <label>Get Related Contacts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelatedContacts</name>
        <label>Update Related Contacts</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>CreateContactRoles</targetReference>
        </connector>
        <inputReference>GetRelatedContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedContacts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currOppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OppContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
