force-app/main/core/flows/OpprtunityCreatedAfterLeadConvetion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSupervisorEmail</name>
        <label>Send Supervisor Email</label>
        <locationX>418</locationX>
        <locationY>2616</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>n.tchakarov@noda.live</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@noda.live</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Opportunity Assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignIdCollections</name>
        <label>Assign Id Collections</label>
        <locationX>506</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ManagersFirstTeamIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ManagersLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManagersLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewOwner</name>
        <label>Assign New Owner</label>
        <locationX>506</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>newOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopManagersIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MinOppsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOppCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopManagersIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountFilteredOpps</name>
        <label>Count Filtered Opps</label>
        <locationX>638</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>CurrentOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FilterFoundOppsByOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppCountMinDecision</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FilterFoundOppsByOwner</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Found Opps By Owner</label>
        <locationX>638</locationX>
        <locationY>1344</locationY>
        <assignNextValueToReference>currentItem_FilterFoundOppsByOwner</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetOpenOppsUnderManager1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterFoundOppsByOwner.OwnerId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopManagersIds</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CountFilteredOpps</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>FoundLeadDecision</name>
        <label>Found Lead Under First Team ?</label>
        <locationX>550</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetConvertedLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetConvertedLead.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDM1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetManager1RoleId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppCountMinDecision</name>
        <label>Opp Count &lt; Min</label>
        <locationX>638</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>LoopManagersIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MinOppsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOppCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MinOppsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opprtunity Created | After Lead Convetion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opprtunity Created | After Lead Convetion</label>
    <loops>
        <name>LoopManagersIds</name>
        <label>LoopManagersIds</label>
        <locationX>418</locationX>
        <locationY>1224</locationY>
        <collectionReference>ManagersFirstTeamIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FilterFoundOppsByOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOppOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ManagersLoop</name>
        <label>ManagersLoop</label>
        <locationX>418</locationX>
        <locationY>768</locationY>
        <collectionReference>GetFistTeamManagers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignIdCollections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOpenOppsUnderManager1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccountTeamMember</name>
        <label>Create Account TeamMember</label>
        <locationX>418</locationX>
        <locationY>2496</locationY>
        <connector>
            <targetReference>SendSupervisorEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetConvertedLead.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>BDM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetConvertedLead</name>
        <label>Get Converted Lead</label>
        <locationX>550</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundLeadDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFistTeamManagers</name>
        <label>Get First Team Managers</label>
        <locationX>418</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManagersLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetManager1RoleId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetManager1RoleId</name>
        <label>Get Manager 1 Role Id</label>
        <locationX>418</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFistTeamManagers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenOppsUnderManager1</name>
        <label>Get Open Opps Under Manager 1</label>
        <locationX>418</locationX>
        <locationY>1104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopManagersIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>In</operator>
            <value>
                <elementReference>ManagersFirstTeamIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppOwner</name>
        <label>Get Opp Owner</label>
        <locationX>418</locationX>
        <locationY>2376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAccountTeamMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccOwner</name>
        <label>Update Acc Owner</label>
        <locationX>418</locationX>
        <locationY>2136</locationY>
        <connector>
            <targetReference>UpdateContactOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetConvertedLead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactOwner</name>
        <label>Update Contact Owner</label>
        <locationX>418</locationX>
        <locationY>2256</locationY>
        <connector>
            <targetReference>GetOppOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetConvertedLead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppOwner</name>
        <label>Update Opp Owner</label>
        <locationX>418</locationX>
        <locationY>2016</locationY>
        <connector>
            <targetReference>UpdateAccOwner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Standard&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetConvertedLead</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead was converted by {!GetConvertedLead.OwnerFullName__c}
{!$Record.Name} opportunity created
Assigned to {!GetOppOwner.Name}</text>
    </textTemplates>
    <variables>
        <name>currentItem_FilterFoundOppsByOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ManagersFirstTeamIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MinOppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
